.gif__parent{
    width: 18.5vw;
    position: absolute;
    height: 40vh;
    margin:-7% 0 0 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    
}

.gif__parent>input{
    width: 16%;
    outline: none;
    border: 0;
    height: 4vh;
    border-radius: 10px;
    padding-left: 1%;
    position:fixed;
}

.gif__image{
    width: 100%;
    margin-top: 2%;
}

.gif__image>img{
    width: 100%;
    height: 15vh;
}



.show__gif-parent{

}